/* Секции */
/* Преимущества */
.advantages-icon__item {
  // margin-top: -30px;
  flex-basis: calc((100% - 120px) / 4);
  border: 1px solid transparent;
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages__list {
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  @media screen and(min-width:1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
.advantages__item {
  // margin-left: 30px;
  margin-top: 30px;
  @media screen and(min-width:768px) {
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
    height: 226px;
  }
  @media screen and(min-width:1200px) {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    height: 270px;
  }
}
.advantages__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  text-align: center;
  @media screen and(min-width:768px) {
    text-align: left;
  }
}

.adventages__description {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 30px;
}
