/* Футер */
/* Лого футера */
.logo__footer {
  color: var(--logo-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.page-footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__address {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  margin-bottom: 60px;
}
.logo__studio {
  color: var(--primery-white-color);
}
.address {
  margin-bottom: 9px;
  color: var(--primery-white-color);
}
.mail {
  margin-bottom: 9px;
}
.footer__contact {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 60px;
}
.footer__label {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.footer-social__list {
  color: var(--primery-white-color);
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 60px;
}
.footer-social__item:not(:last-child) {
  margin-right: 10px;
}
.footer-social__link {
  background-color: #4d4f58;
  width: 44px;
  height: 44px;
  border: 1px solid #2f303a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer__icon {
  fill: var(--primery-white-color);
}
.footer__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  @media screen and(min-width:768px) {
    justify-content: space-between;
  }
  @media screen and(min-width:1200px) {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
  }
}
.footer__item {
  flex-basis: calc((100% - 30px) / 2);
}

.footer__left {
  flex-basis: calc((100% - 30px) / 2);
  justify-content: space-between;
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and(min-width:1200px) {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

/* Форма для футера */
.right-footer {
  @media screen and(min-width:1200px) {
    flex-basis: calc((100% - 30px) / 2);
  }
}
.form-footer {
  display: inline;
}
.footer-email-input {
  position: relative;

  @media screen and(min-width:1200px) {
    display: flex;
  }
}
.footer-input__text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.form-input {
  padding-left: 16px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  color: #ffffff;

  margin-bottom: 20px;
  @media screen and(min-width:768px) {
    width: 450px;
  }
  @media screen and(min-width:1200px) {
    width: 358px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 20px;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}

.footer__button {
  position: relative;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 62px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

  @media screen and(min-width:1200px) {
    margin-left: 12px;
  }
}
.form-icon-btn {
  position: relative;
  text-align: center;
}
.footer-icon-btn {
  position: absolute;
  top: 50%;
  right: 13px;
  transform: translateY(-50%);
  padding: 0;
  margin-right: 10px;
}
