/* Команда */
.team-section {
  background: #f5f4fa;
}
.fhoto-player {
  min-width: 450px;
}
.team__list {
  margin-left: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -50px;
    align-items: center;
  }
}
.team__item {
  margin-bottom: 30px;
  margin-left: 30px;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 50px;
  }
}

.player-team {
  border: 1px solid #ececec;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.player__name {
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.player__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

/* социальние иконки команды  */

.social-icon__team {
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-icon__link {
  width: 44px;
  height: 44px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}

.social-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-icon__link:hover &,
  .social-icon__link:focus & {
    fill: #ffffff;
  }
}
