// кнопки мобильного меню
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu__close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  &:hover,
  &:focus {
    color: #2196f3;
  }
}
.mobile-menu__icon-close {
  fill: #212121;
  .mobile-menu__close &:hover,
  .mobile-menu__close &:focus {
    fill: #2196f3;
  }
}

// мобильное меню
.mobile-menu {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: #ffffff;
}
.mobile-menu .mob-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.mobile-contact__list {
  margin-bottom: 64px;
}

.mobile-menu__item {
  margin-bottom: 32px;
}
.mobile-meny__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-contact__item {
  padding-bottom: 32px;
}
.mobile-contact__link {
  color: #212121;
}

.mobile-contact__link-tel {
  font-size: 34px;
  line-height: 1.25;
  margin-bottom: 32px;
  color: #2196f3;
  letter-spacing: 0.02em;
}
.mobile-contact__link-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}
.mobile-social__list {
  display: flex;
  flex-wrap: wrap;
  color: #2196f3;
}
.mobile-social__link {
  color: #2196f3;
  padding-left: 10px;
  padding-right: 10px;
}

.mobile-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.current {
  color: #2196f3;
}
