.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  max-width: 450px;
  height: 95vh;
  max-height: 609px;
  overflow-y: scroll;
  background-color: #ffffff;
  padding: 40px;
  @media screen and(min-width:1200px) {
    width: 528px;
    height: 581px;
  }
}
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.button-close__icon:hover,
.button-close__icon:focus {
  fill: var(--accent-color);
}
